# Entornos virtuales
venv/
env/
ENV/
.env
.venv
# config.py
# config.py
env.bak/
venv.bak/
.Python
.python-version

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store