{% extends "layout.html" %}

{% block content %}
<h1>Portal del Cliente</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mis Pedidos</h5>
                <p class="card-text">Aquí puedes ver tus pedidos realizados.</p>
                <a href="#" class="btn btn-primary">Ver Pedidos</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Realizar Pedido</h5>
                <p class="card-text">Realiza un nuevo pedido de galletas.</p>
                <a href="#" class="btn btn-success">Nuevo Pedido</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}